<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <title>Word Frequency</title>
    </head>
    <body class="home">
        <div class="container">
            <div class="well header">
                <h1>Calculate Frequency of a Word</h1>
            </div>
            <br>
            <br>
            <form class="form-group" action="/result" method="get">
                <label for="searchWord">Enter a word to search for:</label>
                <input type="text" name="searchWord" required>
                <br>
                <br>
                <br>
                <label for="words">Enter some text:</label>
                <textarea class="textArea form-control" rows="7" name="words" required></textarea>
                <br>
                <button class="btn btn-primary" type="submit">Calculate</button>
            </form>
        </div>
    </body>
</html>
