<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <h1>Calculate Frequency of a Word</h1>
            <form class="form-group" action="/result" method="get">
                <label for="searchWord">Enter word a to search for:</label>
                <input type="text" name="searchWord" required>
                <br>
                <br>
                <label for="words">Enter Text:</label>
                <textarea class="form-control" rows="5" name="words" required></textarea>
                <button class="btn btn-primary" type="submit">Calculate</button>
            </form>
        </div>
    </body>
</html>
