<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <title>Word Count</title>
    </head>
    <body class="results">
        <div class="container result">
            {% if result %}
            <h2> Result: {{ result }}</h2>
            {% endif %}
            <a href="/"><button type="button" class="btn btn-primary">Return Home</button></a>
        </div>
    </body>
</html>
