<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            {% if result %}
            <h2> Result: {{ result }}</h2>
            {% endif %}
        </div>
    </body>
</html>
