body {
    color: white;
    font-family: 'Special Elite', cursive;
}
h1 {
    color: black;
}
label {
    font-size: 18px;
}
input, .textArea {
    color: white;
    background: none;
    background-color: rgba(0,0,0,0.1);
}
.home {
    background: url('/img/glasses.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.results {
    background: url('/img/letters.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.result {
    padding-top: 105px;
    text-align: center;
}

.well {
    background-color: #d1e0e0;
}
.home .btn {
    background-color: #8cadd9;
}
.results .btn {
    background-color: #ffeb99;
    color: black;
}
.textArea {
    width: 750px;
}
